//  sidebar Small Screens

.sidebar-sm .search {
 position: relative;
}
.sidebar-sm .search .btn-1 {
 width: 100%;
 padding: 5px;
 border: 1px solid #eee;
 border-radius: 25px;
 font-size: 15px;
}
.sidebar-sm .search .btn-2 {
 position: absolute;
 left: 80%;
 top: 50%;
 transform: translateY(-8px);
 background-color: transparent;
}
.sidebar-sm .search .btn-2 i{
 color: var(--secondary-color);
}
.sidebar-sm div:not(:first-of-type) {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgba(243, 243, 243, 0.5);
  box-shadow: 1px 1px 2px #ddd;
  transition: 0.5s padding-left;
}
.sidebar-sm div:not(:first-of-type):hover {
  padding-left: 20px;
}
.sidebar-sm div:not(:first-of-type) i {
  font-size: 13px;
  color: red;
}
.sidebar-sm div:not(:first-of-type) a {
  display: inline-block;
  color: rgb(88, 88, 88);
  font-size: 85%;
  font-weight: bold;
}
@media (max-width: 374px) {
  .section-one .sidebar-sm {
    margin-top: 40px;
    display: grid;
    place-items: center;
  }
   .section-one .visible-xs .hidden-custom {
    display: none;
  }
  .section-one .visible-xs {
    display: block;
  }
  .sidebar-sm div:not(:first-of-type) i {
    font-size: 15px;
    color: red;
  }

}
@media (min-width: 375px) and (max-width: 767px) {
  .section-one .sidebar-sm.visible-xs {
    display: block;
  }
  .section-one .sidebar-sm {
    width: 30%;
  }
}